<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ContactBook.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ContactBook.Properties.Settings.TestConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Test.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <ContactBook.Properties.Settings>
            <setting name="ContactIdVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FirstNameVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastNameVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StreetVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CityVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProvinceVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PostalCodeVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PhoneVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EmailVisible" serializeAs="String">
                <value>True</value>
            </setting>
        </ContactBook.Properties.Settings>
    </userSettings>
</configuration>